// Music Player Header

.musicplayer_header {
  height: 18em;
  @include flex(column, flex-start);
  background-color: rgba(0,0,0, 0.7);
  position: relative;
  border-top-left-radius: 16.3px;
  border-top-right-radius: 16.3px;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    border-top-right-radius: 1.3% 4.4%;
    border-top-left-radius: 1.4% 4.2%;
    background-image: url(../../img/johnlockealbum.min.jpg);
    background-repeat: no-repeat;
    background-size: 1080px auto;
    -webkit-filter: blur(50px); /* Chrome, Opera, etc. */
     filter: blur(5px); /* Firefox 35+, eventually all */
    z-index: -2;
  }
  .wave {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background:linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 70%);
  }
}

// Music Player Controls

.sec1 {
  background-color: rgba(25, 25, 25, 1);
  @include layout_padding;
  height: 13em;
  box-shadow: 0px -7px 17px black;
  @include flex(row, flex-end);
  position: relative;
  border-bottom: 0.3em solid rgba(160, 160, 160, 1);
  .img_preview {
    height: 15em;
    width: 19em;
    position: absolute;
    left: 0;
    top: -6.5em;
    background-color: dimgrey;
    background-image: url(../../img/johnlockealbum.min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px -0px 75px black;
    border-radius: 15px;
    margin-left: 5em;
  }
  
  .musicplayer {
    @include flex(column, center);
    margin-right: 4em;
    .musicplayer_timebarContainer {
      background-color: lightgrey;
      height: 0.5em;
      width: 24em;
      border-radius: 15px;
      box-shadow: 0px 0px 18.1px 0.1px rgba(0, 0, 0, 0.5);
      .timebar {
        height: 100%;
        width: 50%;
        border-radius: 0;
        border-right: 1px solid rgba(0,0, 0, 0.3);
        background-color: rgba(60, 60, 60, 1);
        transition: width 60s ease;
        border-radius: 15px;
      }
    }
  }
}
// Music Player List

.list_container {
  background-color: rgba(70,70,70,1);
  height: 29em;
  @include flex(column, space-around);
  box-shadow: 0px 17px 80px black;
  li {
    @include flex(row, flex-start);
    @include layout_padding;
    height: 100%;
    h1 {
      margin-bottom: 0.09em;
    }
    &:nth-child(2), &:nth-child(4) {
      background-color: rgba(30, 30, 30, 1);
    }
    .list_num {
      min-width: 12%;
    }
    .title_artist {
      width: 81%;
      min-width: 74%;
    }
    .icons {
      @include flex(column, space-around);
      min-width: 8%;
    }
  }
}