@mixin layout_padding {
  padding: 1em 1em;
}

@mixin center {
  margin: 0 auto;
}

@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin radius {
 border-radius: 19px;
}

@mixin radiusTLR {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}