h1, h2, h3, h4, h5, p {
  color: white;
}

.musicplayer {
  color: white;
  span {
    text-align: center;
    font-size: 1.3em;
    
  }
}

* {
  font-family: arial, 'open sans';
  list-style: none;
}

.musicplayer_header {
  text-align: center;
  h1 {
    font-size: 2.3em;
    margin-bottom: 0.1em;
    font-weight: 700;
    z-index: 8;
    padding-top: 0.8em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline: 1px solid transparent;
    text-shadow: 1px 1px 20px black;
  }
  p {
    font-size: 2em;
    z-index: 8;
    text-shadow: 1px 1px 20px black;
  }
}

.list_num {
  color: white;
  font-size: 1.7em;
  align-self: center;
  font-weight: 100;
}

.title_artist {
  h1 {
    font-size: 1.7em;
    letter-spacing: 0.04em;
    font-weight: 100;
  }
  p {
    font-size: 1em;
  }
}

.icons {
  color: rgba(50,50,50,1);
  text-align: center;
  font-size: 1.6em;
}

.ico1 {
 color: rgba(20, 20, 20, 0.6);  
}

.ico2 {
 color: rgba(220, 220, 220, 0.4);  
}

.ico3 {
  @extend .ico1;
}

.ico4 {
 color: rgba(220, 220, 220, 0.4);  
}

.ico5 {
  @extend .ico1;
}

.sec1 {
  
}

.sec2 {
  
}